#game-board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  gap: 2px;

}

body{
  background-color: rgb(133, 176, 149);
}

p{
  color: whitesmoke;
  padding-left: 40px;
}

.cell {
  width: 30px;
  height: 30px;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.snake {
  background-color: green;
}

.food {
  background-color: red;
}

body {
  display: flex;
}
.controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  margin-top: 20px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 5px;
}

button {
  width: 50px;
  height: 50px;
  font-size: 20px;
  cursor: pointer;
  border: 1px solid #333;
  background-color: #eee;
  border-radius: 5px;
}

button:active {
  background-color: #ccc;
}
